@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif !important; 
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000;
  background-image: url("https://f4.bcbits.com/img/0021371731_130.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #111;
}
 
::-webkit-scrollbar-thumb {
  background: #878787; 
  border-radius: 10px;
}