@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif !important; 
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000000;
}
 
::-webkit-scrollbar-thumb {
  background: #FFFFFF; 
  border-radius: 10px;
}